{% extends "base.html" %}
{% load static %}

{% block title %}Universe: {{ universe.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url "site-main" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "site-universe-list" %}">Universes</a></li>
  <li class="breadcrumb-item active"><a href="{% url "site-universe-detail" universe.slug %}">{{ universe.name }}</a>
  </li>
{% endblock %}

{% block vendor_css %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/detail_pages.css" %}">
{% endblock %}

{% block content %}
  <!-- HEADER -->
  <div id="detail-card-head">
    <div class="row">
      <div class="col-12">
        <div class="card detail-card-with-cover">
          <div class="card-img-top img-fluid bg-cover height-300"
               {% if universe.poster %}
               data-toggle="modal" data-target="#full-image-modal"
               {% endif %}
               style="background:
                   url('{% if universe.poster %}{{ universe.poster.url }}{% else %}{% static "images/defaults/default_poster.png" %}{% endif %}') 30%;
               {% if universe.poster %}
               cursor: pointer;
               {% endif %}
                   "></div>
          <div class="media detail-card-cover-details w-100">
            <div class="media-left pl-2 pt-2">
              <a href="{% url "site-publisher-detail" universe.publisher.slug %}" class="detail-card-image">
                <img src="{% if universe.logo %}
                {{ universe.logo.thumb_url }}
                {% else %}
                {% static "images/defaults/default_logo_small.png" %}
                {% endif %}" class="rounded-circle img-border height-100 width-100" alt="Card image">
              </a>
            </div>
            <div class="media-body pt-3 px-2">
              <div class="row">
                <div class="col text-right">
                  {% if user.is_staff %}
                    <div class="btn-group d-md-block float-right ml-2" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#universe-modal">
                        <i class="fa fa-cog"></i></button>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="card-desc text-muted">
            <h3><strong>{{ universe.name }}</strong></h3>
            <em>{{ universe.desc|default:"No description" }}</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /HEADER -->
  <!-- STATISTICS -->
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="card bg-gradient-directional-primary card-link">
        <a href="{% url "site-universe-titles" universe.slug %}" class="default-link"></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-books white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ universe.titles.count }}</h3>
                <span>Title{{ universe.titles.count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="card bg-gradient-directional-danger card-link">
        <a href="{% url "site-universe-issues" universe.slug %}" class="default-link"></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-book-open white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ universe.issue_count }}</h3>
                <span>Issue{{ universe.issue_count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /STATISTICS -->
{% endblock %}

{% block modals %}
  <div class="modal fade" id="universe-modal" tabindex="-1" role="dialog" aria-labelledby="universe-modal"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" method="post" action enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-body">
            <div class="modal-header">
              <h5 class="modal-title">Edit universe info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <fieldset class="form-group">
                <div class="custom-file">
                  <input type="file"
                         class="custom-file-input form-control {% if form.errors.poster %}is-invalid{% endif %}"
                         id="universe-poster" name="poster">
                  <label class="custom-file-label" for="universe-poster">Universe poster</label>
                  <div class="invalid-feedback">
                    {{ form.errors.poster }}
                  </div>
                </div>

              </fieldset>
              <fieldset class="form-group">
                <label for="universe-description">Universe description</label>
                <textarea class="form-control {% if form.errors.desc %}is-invalid{% endif %}" name="desc"
                          id="universe-description"
                          rows="3">{{ universe.desc }}</textarea>
                <div class="invalid-feedback">
                  {{ form.errors.desc }}
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  {% if universe.poster %}
    <div class="modal fade" id="full-image-modal" tabindex="-1" role="dialog" aria-labelledby="full-image-modal"
         aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Universe poster</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{ universe.poster.url }}" class="img-fluid mx-auto d-block" alt="Universe poster">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block vendor_js %}
{% endblock %}

{% block page_js %}
  <script src="{% static "app-assets/js/scripts/forms/custom-file-input.js" %}"></script>
  {% if form.errors %}
    <script>
    $('#universe-modal').modal('show');
    </script>
  {% endif %}
{% endblock %}