static/animate_css/* linguist-vendored
static/app-assets/* linguist-vendored
static/bootstrap-notify/* linguist-vendored
static/fontawesome/* linguist-vendored
static/jquery/* linguist-vendored
static/popper/* linguist-vendored