#detail-card-head .detail-card-with-cover .detail-card-cover-details .detail-card-image img.img-border, .detail-card-with-cover .detail-card-image img.img-border {
  border: 5px solid #FFF
}

/*.profile-card-with-stats .btn-float {*/
/*padding: 8px 14px 4px*/
/*}*/

/*.detail-card-with-cover .detail-card-image {*/
/*position: absolute;*/
/*top: 130px;*/
/*width: 100%;*/
/*text-align: center*/
/*}*/

.detail-card-with-cover .profile-card-with-cover-content {
  padding-top: 4rem
}

#detail-card-head .detail-card-with-cover .detail-card-cover-details {
  position: absolute;
  margin-top: 210px
}

#detail-card-head .detail-card-with-cover .detail-card-cover-details .card-title {
  color: #FFF;
  text-shadow: 1px 1px 4px #1B2942
}

#detail-card-head .navbar-detail-card {
  margin-left: 130px
}

.detail-card-with-cover .card-title {
  font-size: 2rem;
}

#detail-card-head .card-desc {
  padding: 20px 20px 20px 130px;
}

#detail-card-head .card-desc em {
  white-space: pre-wrap;
}