{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block title %}Issue: {{ issue.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block meta_description %}{{ issue.name }} info and download cbr/cbz. {{ issue.desc }}{% endblock %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static "app-assets/vendors/css/forms/selects/select2.min.css" %}">
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/detail_pages.css" %}">
{% endblock %}

{% block content %}
  <!-- HEADER -->
  <div id="detail-card-head">
    <div class="row">
      <div class="col-12">
        <div class="card detail-card-with-cover">
          <div class="card-img-top img-fluid bg-cover height-300"
               {% if issue.main_cover %}
               data-toggle="modal" data-target="#full-image-modal"
               {% endif %}
               style="background:
                   url('{% if issue.main_cover %}{{ issue.main_cover.url }}{% else %}{% static "images/defaults/default_issue_cover.png" %}{% endif %}') 50%;
               {% if issue.main_cover %}
               cursor: pointer;
               {% endif %}
                   "></div>
          <div class="media detail-card-cover-details w-100">
            <div class="media-left pl-2 pt-2">
              <a href="{% url "site-publisher-detail" issue.title.publisher.slug %}" class="detail-card-image">
                <img src="{% if issue.logo %}
                {{ issue.logo.thumb_url }}
                {% else %}
                {% static "images/defaults/default_logo_small.png" %}
                {% endif %}" class="rounded-circle img-border height-100 width-100" alt="Card image">
              </a>
            </div>
            <div class="media-body pt-3 px-2">
              <div class="row">
                <div class="col text-right">
                  <div class="btn-group white" role="group">
                    {% block prev_link%}{% if issue.previous_link %}
                      <a role="button" class="btn btn-secondary" href="{{ issue.previous_link }}" data-toggle="tooltip"
                         data-placement="bottom" title="Previous issue in title"><i
                          class="fal fa-backward"></i></a>
                    {% endif %}{% endblock %}
                    <a role="button" class="btn btn-secondary" href="{{ issue.download_link }}" data-toggle="tooltip"
                       data-placement="bottom" title="Download issue"><i class="fal fa-download"></i>
                      <span class="d-none d-sm-inline">({{ issue.file_size|filesizeformat }})</span></a>
                    {% if user.is_authenticated and reading_lists %}
                      <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                              data-placement="bottom" title="Add to read list"
                              onclick="$('#add-to-list').modal('show')">
                        <i class="fal fa-clipboard-list-check"></i></button>
                    {% endif %}
                    {% block next_link%}{% if issue.next_link %}
                      <a role="button" class="btn btn-secondary" href="{{ issue.next_link }}" data-toggle="tooltip"
                         data-placement="bottom" title="Next issue in title"><i
                          class="fal fa-forward"></i></a>
                    {% endif %}{% endblock %}
                  </div>
                  {% if user.is_staff %}
                    <div class="btn-group d-none d-sm-inline-flex float-right ml-2" role="group">
                      <button type="button" class="btn btn-success btn-outline-primary" data-toggle="modal" data-target="#issue-modal">
                        <i class="fal fa-cog"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-outline-primary" id="issue-delete-btn">
                        <i class="fal fa-trash-alt"></i>
                      </button>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card-desc text-muted">
                <h3><strong>{{ issue.name }}</strong> <i class="fal fa-check-circle success" id="read-mark"
                                                         {% if not read_date %}style="display: none" {% endif %}></i>
                </h3>
                <em>{{ issue.desc|default:"No description" }}</em>
                <ul class="list-inline list-inline-pipe mb-0">
                  {% if issue.marvel_detail_link %}
                    <li><a href="{{ issue.marvel_detail_link }}" target="_blank">Marvel URL</a></li>
                  {% endif %}
                  {% if issue.marvel_purchase_link %}
                    <li><a href="{{ issue.marvel_purchase_link }}" target="_blank">Purchase</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /HEADER -->

  <!-- Info cards -->
  <div class="row">
    <!-- Main info -->
    <div class="col-xxl-4 col-sm-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><i class="fal fa-info-circle"></i> Issue info</h4>
          <a class="heading-elements-toggle"><i class="fal fa-ellipsis-v font-medium-3" aria-hidden="true"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-top-blue-grey border-top-lighten-5 ">
            <div class="row">
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Publisher: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                <a href="{% url "site-publisher-detail" issue.title.publisher.slug %}">{{ issue.title.publisher.name }}</a>
              </div>
            </div>
            {% if issue.title.universe %}
              <div class="row">
                <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                  <strong>Universe: </strong>
                </div>
                <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                  <a href="{% url "site-universe-detail" issue.title.universe.slug %}">{{ issue.title.universe.name }}</a>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Title: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                <a href="{% url "site-title-detail" issue.title.slug %}">{{ issue.title.name }}</a>
              </div>
            </div>
          <div class="row">
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Number: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                {{ issue.number|floatformat }}
              </div>
            </div>
            <div class="row">
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Title type: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                {{ issue.title.title_type.name }}
              </div>
            </div>
            <div class="row">
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Publish date: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                {{ issue.publish_date|localize }}
              </div>
            </div>
            <div class="row">
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Pages count: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0">
                {{ issue.page_count|default:"Unknown" }}
              </div>
            </div>

            {% if request.user.is_authenticated %}<div class="row" id="read-date-row" {% if not read_date %}style="display: none" {% endif %}>
              <div class="col-4k-2 col-2k-4 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-5 col-12 text-xxs-right">
                <strong>Read date: </strong>
              </div>
              <div class="col-4k-10 col-2k-8 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-7 col-12 pl-xxs-0" id="read-date">
                {{ read_date|localize }}
              </div>
            </div>

            {% if not read_date %}
              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-success btn-block" id="mark-read-btn">Mark as read</button>
                </div>
              </div>
            {% endif %}{% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- /Main info -->
    {% include "comics_db/elements/creator_block.html" with creators=creators %}
    {% include "comics_db/elements/character_block.html" with characters=issue.characters.all %}
  </div>
  <!-- /Info cards -->
  <form action="{% url "site-issue-delete" issue.slug %}" method="post" id="delete-form" class="d-none">
    {% csrf_token %}
    <input type="hidden" name="delete-redirect-url" value="{{ list_link }}">
  </form>
{% endblock %}

{% block modals %}
  <div class="modal fade" id="issue-modal" tabindex="-1" role="dialog" aria-labelledby="issue-modal"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" method="post" action enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-body">

            <div class="modal-body">
              <div class="modal-header mb-1">
                <h5 class="modal-title">Edit issue info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <fieldset class="form-group">
                <label for="title-name">Issue name</label>
                <input type="text"
                       class="form-control {% if form.errors.name %}is-invalid{% endif %}" name="name" id="issue-name"
                       aria-describedby="helpId" value="{{ issue.name }}">
                <div class="invalid-feedback">
                  {% for error in form.desc.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              </fieldset>
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="issue-number">Issue number</label>
                    <input type="number"
                           class="form-control" name="number" id="issue-number" value="{{ issue.number }}">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <fieldset class="form-group">
                    <label for="issue-publish-date">Issue publish date</label>
                    <div class="input-group date" id="issue-date-container">
                      <input type="text" class="form-control" id="issue-publish-date" name="publish_date">
                      <div class="input-group-append">
										<span class="input-group-text">
											<i class="fal fa-calendar-alt"></i>
										</span>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="form-group">
                <label for="issue-title">Title</label><br>
                <select class="form-control" name="title" id="issue-title">
                  <option value="{{ issue.title.id }}">{{ issue.title }}</option>
                </select>
                {% for error in form.title.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
              </div>

              <fieldset class="form-group">
                <label for="issue-description">Issue description</label>
                <textarea class="form-control {% if form.errors.desc %}is-invalid{% endif %}" name="desc"
                          id="issue-description"
                          rows="3">{{ issue.desc }}</textarea>
                <div class="invalid-feedback">
                  {% for error in form.desc.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="custom-file">
                  <input type="file"
                         class="custom-file-input form-control {% if form.errors.main_cover %}is-invalid{% endif %}"
                         id="issue-main-cover" name="main_cover">
                  <label class="custom-file-label" for="issue-main-cover">Issue cover</label>
                  <div class="invalid-feedback">
                    {% for error in form.main_cover.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                  </div>
                </div>
              </fieldset>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  {% if issue.main_cover %}
    <div class="modal fade" id="full-image-modal" tabindex="-1" role="dialog" aria-labelledby="full-image-modal"
         aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Issue cover</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{ issue.main_cover.url }}" class="img-fluid mx-auto d-block" alt="Issue cover">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="add-to-list" tabindex="-1" role="dialog" aria-labelledby="add-to-list"
       aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add to reading list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="target-reading-list">Reading list</label>
            <select class="form-control" name="target-reading-list" id="target-reading-list">
              {% for reading_list in reading_lists %}
                <option value="{{ reading_list.id }}">{{ reading_list.name }}</option>
              {% endfor %}

            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add-to-list-btn">Add</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block vendor_js %}
  <script src="{% static "app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" %}" type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js" %}" type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/extensions/sweetalert.min.js" %}" type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/forms/select/select2.full.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block page_js %}
  <script src="{% static "app-assets/js/scripts/forms/custom-file-input.js" %}" type="text/javascript"></script>
  <script src="{% static "comics_db/js/issue_detail.js" %}" type="text/javascript"></script>
  <script>
    $('#issue-date-container').datetimepicker({format : 'DD.MM.YYYY', date : new Date('{{ issue.publish_date }}')});
    {% if form.errors %}
      $('#issue-modal').modal('show');
    {% endif %}
    let title_list_url = "{% url "title-list" %}";
    let mark_read_url = "{% url "site-issue-mark-read" issue.slug %}";
  </script>
{% endblock %}