{% extends "base.html" %}
{% load static %}

{% block title %}Issues{% endblock %}

{% block page_title %}Issues{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url "site-main" %}">Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url "site-issue-list" %}">Issues</a></li>
{% endblock %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static "app-assets/css/plugins/forms/switch.min.css" %}">
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/card-list.css" %}">
{% endblock %}

{% block content %}
  {% include "comics_db/elements/issue_search_form.html" %}
  <div class="row">
    {% include "comics_db/issue/list_block.html" %}
  </div>
{% endblock %}

{% block vendor_js %}
  <script src="{% static "app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block page_js %}
  <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
  <script>
    $.endlessPaginate({
      paginateOnScroll : true,
    });
    $('#hide-read').checkboxpicker();
  </script>
{% endblock %}