{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Title: {{ title.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block meta_description %}{{ title.name }}{% endblock %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static "app-assets/vendors/css/forms/selects/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "app-assets/css/plugins/forms/switch.min.css" %}">
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/detail_pages.css" %}">
{% endblock %}

{% block content %}
  <!-- HEADER -->
  <div id="detail-card-head">
    <div class="row">
      <div class="col-12">
        <div class="card detail-card-with-cover">
          <div class="card-img-top img-fluid bg-cover height-300"
               {% if title.image %}
               data-toggle="modal" data-target="#full-image-modal"
               {% endif %}
               style="background:
                   url('{% if title.image %}{{ title.image.url }}{% else %}{% static "images/defaults/default_title_image.png" %}{% endif %}') 30%;
               {% if title.image %}
               cursor: pointer;
               {% endif %}
                   "></div>
          <div class="media detail-card-cover-details w-100">
            <div class="media-left pl-2 pt-2">
              <a href="{% url "site-publisher-detail" title.publisher.slug %}" class="detail-card-image">
                <img src="{% if title.logo %}
                {{ title.logo.thumb_url }}
                {% else %}
                {% static "images/defaults/default_logo_small.png" %}
                {% endif %}" class="rounded-circle img-border height-100 width-100" alt="Card image">
              </a>
            </div>
            <div class="media-body pt-3 px-2">
              <div class="row">
                <div class="col text-right">
                <a role="button" class="btn btn-secondary" href="{% url "site-title-download" title.slug %}" data-toggle="tooltip"
                       data-placement="bottom" title="Download title"><i class="fal fa-download"></i> (~{{ title.file_size|filesizeformat }})</a>
                {% if user.is_authenticated and reading_lists %}
                      <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                              data-placement="bottom" title="Add to read list"
                              onclick="$('#add-to-list').modal('show')">
                        <i class="fal fa-clipboard-list-check"></i></button>
                    {% endif %}
                  {% if user.is_staff %}
                    <div class="btn-group d-none d-sm-inline-flex float-right ml-2" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#title-modal">
                        <i class="fal fa-cog"></i>
                      </button>
                      <button type="button" class="btn btn-warning" data-toggle="tooltip" onclick="$('#move-issue-modal').modal('show')"
                         data-placement="bottom" title="Move issues to another title">
                        <i class="fal fa-file-export"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-outline-primary" id="title-delete-btn">
                        <i class="fal fa-trash-alt"></i>
                      </button>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="card-desc text-muted">
            <h3><strong>{{ title.name }} ({{ title.title_type.name }}) {% if read == total %}
              <i class="fal fa-check-circle success"></i>{% endif %}</strong></h3>
            <em>{{ title.desc|default:"No description" }}</em>
            <ul class="list-inline list-inline-pipe mb-0">
              {% if title.marvel_url %}
                <li><a href="{{ title.marvel_url }}" target="_blank">Marvel URL</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /HEADER -->
  {% include "comics_db/elements/read_progress_bar.html" %}
  <!-- STATISTICS -->
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card bg-gradient-directional-danger card-link">
        <a href="{% url "site-title-issues" title.slug %}" class="default-link"></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-book-open white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ title.issues.count }}</h3>
                <span>Issue{{ title.issues.count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /STATISTICS -->
  <!-- Info cards -->
  <div class="row">
    <!-- Main info -->
    <div class="col-xxl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Title info</h4>
          <a class="heading-elements-toggle"><i class="fal fa-ellipsis-v font-medium-3" aria-hidden="true"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-top-blue-grey border-top-lighten-5 ">
            <div class="row">
              <div class="col-4k-2 col-2k-3 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-4 col-12 text-xxs-right">
                <strong>Publisher: </strong>
              </div>
              <div class="col-4k-10 col-2k-9 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-8 col-12 pl-xxs-0">
                <a href="{% url "site-publisher-detail" title.publisher.slug %}">{{ title.publisher.name }}</a>
              </div>
            </div>
            {% if title.universe %}
              <div class="row">
                <div class="col-4k-2 col-2k-3 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-4 col-12 text-xxs-right">
                  <strong>Universe: </strong>
                </div>
                <div class="col-4k-10 col-2k-9 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-8 col-12 pl-xxs-0">
                  <a href="{% url "site-universe-detail" title.universe.slug %}">{{ title.universe.name }}</a>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-4k-2 col-2k-3 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-4 col-12 text-xxs-right">
                <strong>Title type: </strong>
              </div>
              <div class="col-4k-10 col-2k-9 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-8 col-12 pl-xxs-0">
                {{ title.title_type.name }}
              </div>
            </div>

            <div class="row">
              <div class="col-4k-2 col-2k-3 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-4 col-12 text-xxs-right">
                <strong>Start year: </strong>
              </div>
              <div class="col-4k-10 col-2k-9 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-8 col-12 pl-xxs-0">
                {{ title.start_year }}
              </div>
            </div>
            <div class="row">
              <div class="col-4k-2 col-2k-3 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-4 col-12 text-xxs-right">
                <strong>End year: </strong>
              </div>
              <div class="col-4k-10 col-2k-9 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-8 col-12 pl-xxs-0">
                {{ title.end_year }}
              </div>
            </div>
            {% if read_date %}
              <div class="row">
              <div class="col-4k-2 col-2k-3 col-fhd-4 col-xxl-5 col-xl-3 col-sm-5 col-xs-3 col-xxs-4 col-12 text-xxs-right">
                <strong>Finish date: </strong>
              </div>
              <div class="col-4k-10 col-2k-9 col-fhd-8 col-xxl-7 col-xl-9 col-sm-7 col-xs-9 col-xxs-8 col-12 pl-xxs-0">
                {{ read_date }}
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- /Main info -->
   {% include "comics_db/elements/creator_block.html" with creators=creators empty_message="No creators in this title" %}
   {% include "comics_db/elements/character_block.html" with characters=title.characters.all empty_message="No characters in this title" %}
   {% include "comics_db/elements/event_block.html" with events=title.events.all empty_message="No events in this title" %}
  </div>
  <!-- /Info cards -->
  <form action="{% url "site-title-delete" title.slug %}" method="post" id="delete-form" class="d-none">
    {% csrf_token %}
    <input type="hidden" name="delete-redirect-url" value="{{ list_link }}">
  </form>
{% endblock %}

{% block modals %}
  <div class="modal fade" id="title-modal" tabindex="-1" role="dialog" aria-labelledby="title-modal"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" method="post" action enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-body">

            <div class="modal-body">
              <div class="modal-header mb-1">
                <h5 class="modal-title">Edit title info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <fieldset class="form-group">
                <label for="title-name">Title name</label>
                <input type="text"
                       class="form-control {% if form.errors.name %}is-invalid{% endif %}" name="name" id="title-name"
                       aria-describedby="helpId" value="{{ title.name }}">
                <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              </fieldset>
              <div class="row">
                <div class="col-md-6 col-12">
                  <fieldset class="form-group">
                    <label for="title-start-year">Title start year</label>
                    <input type="number" class="form-control  {% if form.errors.name %}is-invalid{% endif %}" id="title-start-year" name="start_year" value="{{ title.start_year }}">
                    <div class="invalid-feedback">
                      {% for error in form.start_year.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6 col-12">
                  <fieldset class="form-group">
                    <label for="title-end-year">Title end year</label>
                    <input type="number" class="form-control  {% if form.errors.name %}is-invalid{% endif %}" id="title-end-year" name="end_year" value="{{ title.end_year }}">
                    <div class="invalid-feedback">
                      {% for error in form.end_year.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  </fieldset>
                </div>
              </div>
              <fieldset class="form-group">
                <label for="title-description">Title description</label>
                <textarea class="form-control {% if form.errors.desc %}is-invalid{% endif %}" name="desc"
                          id="title-description"
                          rows="3">{{ title.desc }}</textarea>
                <div class="invalid-feedback">
                  {% for error in form.desc.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              </fieldset>
              <div class="form-group">
                <label for="title-type">Title type</label>
                <select class="form-control {% if form.errors.title_type %}is-invalid{% endif %}" name="title_type"
                        id="title-type">
                  {% for title_type in title_types %}
                    <option value="{{ title_type.id }}"
                            {% if title_type.id == title.title_type.id %}selected{% endif %}>
                      {{ title_type.name }}
                    </option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  {% for error in form.title_type.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
              <fieldset class="form-group">
                <div class="custom-file">
                  <input type="file"
                         class="custom-file-input form-control {% if form.errors.image %}is-invalid{% endif %}"
                         id="title-poster" name="image">
                  <label class="custom-file-label" for="title-poster">Title image</label>
                  <div class="invalid-feedback">
                    {% for error in form.image.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <div class="col-auto p-1 ">
                  <label class="form-check-label ml-1" for="modal-api-image">
                    Prevent image API rewrite
                  </label>
                </div>
                <div class="col-auto pl-0"><input type="checkbox" class="switch" id="modal-api-image" name="api_image"
                                                  data-reverse
                                                  {% if title.api_image %}checked{% endif %}></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  {% if title.image %}
    <div class="modal fade" id="full-image-modal" tabindex="-1" role="dialog" aria-labelledby="full-image-modal"
         aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Title image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{ title.image.url }}" class="img-fluid mx-auto d-block" alt="Title image">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="move-issue-modal" tabindex="-1" role="dialog" aria-labelledby="move-issue-modal"
       aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Move issues</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form" method="post" action="{% url "site-title-move-issues" title.slug %}" id="move-form">
          <div class="modal-body">

            {% csrf_token %}
            <div class="form-group">
              <label for="target-title">Title</label><br>
              <select class="form-control" name="target-title-id" id="target-title">
                <option value="{{ title.id }}">{{ title }}</option>
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="move-issues-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="add-to-list" tabindex="-1" role="dialog" aria-labelledby="add-to-list"
       aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add to reading list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="target-reading-list">Reading list</label>
            <select class="form-control" name="target-reading-list" id="target-reading-list">
              {% for reading_list in reading_lists %}
                <option value="{{ reading_list.id }}">{{ reading_list.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="from-number">From #</label>
                <input type="number"
                       class="form-control" name="from-number" id="from-number" placeholder="Add numbers from">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="from-number">To #</label>
                <input type="number"
                       class="form-control" name="to-number" id="to-number" placeholder="Add numbers to">
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add-to-list-btn">Add</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block vendor_js %}
  <script src="{% static "app-assets/vendors/js/extensions/sweetalert.min.js" %}" type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/forms/select/select2.full.min.js" %}" type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block page_js %}
  <script src="{% static "app-assets/js/scripts/forms/custom-file-input.js" %}"></script>
  <script>
    let titles_url = "{% url "title-list" %}";
    $('#modal-api-image').checkboxpicker();
    {% if form.errors %}
      $('#title-modal').modal('show');
    {% endif %}
  </script>
  <script src="{% static "comics_db/js/title_detail.js" %}"></script>
{% endblock %}