{% extends "base.html" %}
{% load static %}

{% block title %}{{ title.name }} issues{% endblock %}

{% block page_title %}{{ title.name }} issues{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url "site-main" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "site-title-list" %}">Titles</a></li>
  <li class="breadcrumb-item active"><a href="{% url "site-title-detail" title.slug %}">{{ title.name }}</a>
  <li class="breadcrumb-item active"><a href="{% url "site-title-issues" title.slug %}">Issues</a></li>
{% endblock %}

{% block vendor_css %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/card-list.css" %}">
{% endblock %}

{% block content %}
  <div class="row">
    {% include "comics_db/title/issue_list_block.html" %}
  </div>
{% endblock %}

{% block vendor_js %}
{% endblock %}

{% block page_js %}
  <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
  <script>
    $.endlessPaginate({
      paginateOnScroll : true,
    });
  </script>
{% endblock %}