{% extends "comics_db/issue/detail.html" %}

{% block prev_link %}
  {% if previous_issue %}
    <a role="button" class="btn btn-secondary"
       href="{% url "site-reading-list-issue" reading_list.slug previous_issue.slug %}" data-toggle="tooltip"
       data-placement="bottom" title="Previous issue in list"><i
        class="fal fa-backward"></i></a>
  {% endif %}
{% endblock %}

{% block next_link %}
  {% if next_issue %}
    <a role="button" class="btn btn-secondary"
       href="{% url "site-reading-list-issue" reading_list.slug next_issue.slug %}" data-toggle="tooltip"
       data-placement="bottom" title="Next issue in list"><i
        class="fal fa-forward"></i></a>
  {% endif %}
{% endblock %}