    <!-- Characters -->
    <div class="{{ col|default:"col-xxl-4 col-sm-6 col-12" }}">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><i class="fal fa-mask" aria-hidden="true"></i> Characters</h4>
          <a class="heading-elements-toggle"><i class="fal fa-ellipsis-v font-medium-3" aria-hidden="true"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-top-blue-grey border-top-lighten-5 ">
            <div class="row">
              {% for character in characters %}
                <div
                    class="col-12">
                  <a href="{% url "site-character-detail" character.slug %}">{{ character.name }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Characters -->