{% extends "base.html" %}
{% load static %}

{% block title %}Publisher: {{ publisher.name }}{% endblock %}

{% block page_title %}{% endblock %}

{% block vendor_css %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/detail_pages.css" %}">
{% endblock %}

{% block content %}
  <!-- HEADER -->
  <div id="detail-card-head">
    <div class="row">
      <div class="col-12">
        <div class="card detail-card-with-cover">
          <div class="card-img-top img-fluid bg-cover height-300"
               {% if publisher.poster %}
               data-toggle="modal" data-target="#full-image-modal"
               {% endif %}
               style="background:
                   url('{% if publisher.poster %}{{ publisher.poster.url }}{% else %}{% static "images/defaults/default_poster.png" %}{% endif %}') 50%;
               {% if publisher.poster %}
               cursor: pointer;
               {% endif %}
                   "></div>
          <div class="media detail-card-cover-details w-100">
            <div class="media-left pl-2 pt-2">
              <a href="#" class="detail-card-image">
                <img src="{% if publisher.logo %}
                {{ publisher.logo.thumb_url }}
                {% else %}
                {% static "images/defaults/default_logo_small.png" %}
                {% endif %}" class="rounded-circle img-border height-100 width-100" alt="Card image">
              </a>
            </div>
            <div class="media-body pt-3 px-2">
              <div class="row">
                <div class="col text-right">

                  {% if user.is_staff %}
                    <div class="btn-group d-md-block float-right ml-2" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#publisher-modal">
                        <i class="fal fa-cog"></i></button>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="card-desc text-muted">
            <h3><strong>{{ publisher.name }}</strong></h3>
            <em>{{ publisher.desc|default:"No description" }}</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /HEADER -->
  {% include "comics_db/elements/read_progress_bar.html" %}
  <!-- STATISTICS -->
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="card bg-gradient-directional-success card-link">
        <a href="{% url "site-publisher-events" publisher.slug %}" class="default-link">></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-globe-americas white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ publisher.events.count }}</h3>
                <span>Event{{ publisher.events.count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card bg-gradient-directional-warning card-link">
        <a href="{% url "site-publisher-universes" publisher.slug%}" class="default-link"></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-globe-asia white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ publisher.universes.count }}</h3>
                <span>Universe{{ publisher.universes.count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card bg-gradient-directional-primary card-link">
        <a href="{% url "site-publisher-titles" publisher.slug %}" class="default-link">></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-books white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ publisher.titles.count }}</h3>
                <span>Title{{ publisher.titles.count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card bg-gradient-directional-danger card-link">
        <a href="{% url "site-publisher-issues" publisher.slug %}" class="default-link"></a>
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-book-open white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ publisher.issue_count }}</h3>
                <span>Issue{{ publisher.issue_count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /STATISTICS -->
{% endblock %}

{% block modals %}
  <div class="modal fade" id="publisher-modal" tabindex="-1" role="dialog" aria-labelledby="publisher-modal"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" method="post" action enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-body">
            <div class="modal-header">
              <h5 class="modal-title">Edit publisher info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <fieldset class="form-group">
                <div class="custom-file">
                  <input type="file"
                         class="custom-file-input form-control {% if form.errors.logo %}is-invalid{% endif %}"
                         id="publisher-logo" name="logo">
                  <label class="custom-file-label" for="publisher-logo">Publisher logo</label>
                  <div class="invalid-feedback">
                    {{ form.errors.logo }}
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <div class="custom-file">
                  <input type="file"
                         class="custom-file-input form-control {% if form.errors.poster %}is-invalid{% endif %}"
                         id="publisher-poster" name="poster">
                  <label class="custom-file-label" for="publisher-poster">Publisher poster</label>
                  <div class="invalid-feedback">
                    {{ form.errors.poster }}
                  </div>
                </div>

              </fieldset>
              <fieldset class="form-group">
                <label for="publisher-description">Publisher description</label>
                <textarea class="form-control {% if form.errors.desc %}is-invalid{% endif %}" name="desc"
                          id="publisher-description"
                          rows="3">{{ publisher.desc }}</textarea>
                <div class="invalid-feedback">
                  {{ form.errors.desc }}
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  {% if publisher.poster %}
    <div class="modal fade" id="full-image-modal" tabindex="-1" role="dialog" aria-labelledby="full-image-modal"
         aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publisher poster</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{ publisher.poster.url }}" class="img-fluid mx-auto d-block" alt="Publisher poster">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block vendor_js %}
{% endblock %}

{% block page_js %}
  <script src="{% static "app-assets/js/scripts/forms/custom-file-input.js" %}"></script>
  {% if form.errors %}
    <script>
    $('#publisher-modal').modal('show');
    </script>
  {% endif %}
{% endblock %}