{% extends "base.html" %}
{% load static %}

{% block title %}Publishers{% endblock %}

{% block page_title %}Publishers{% endblock %}

{% block vendor_css %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/card-list.css" %}">
{% endblock %}

{% block content %}
  {% include "comics_db/elements/search_form.html" with show_hide_read=False placeholder="Search for publisher..." %}
  <div class="row">
    {% include "comics_db/publisher/list_block.html" %}
  </div>
{% endblock %}

{% block vendor_js %}
{% endblock %}

{% block page_js %}
{% endblock %}