{% load static %}

{% for universe in universes %}
  <div class="col-xl-4 col-md-6 col-12">
    <div class="card card-with-cover card-link">
      <a class='default-link' href='{% url "site-universe-detail" universe.slug %}'></a>
      <div class="card-img-top img-fluid bg-cover height-200"
           style="background: url('{% if universe.poster %}{{ universe.poster.thumb_url }}{% else %}{% static "images/defaults/default_poster_small.png" %}{% endif %}') 50%"></div>
      <div class="card-profile-image">
        <img src="{% if universe.publisher.logo %}
                  {{ universe.publisher.logo.thumb_url }}
                {% else %}
                  {% static "images/defaults/default_logo_small.png" %}
                {% endif %}"
             class="rounded-circle img-border box-shadow-1 width-100 height-100" alt="Card image" >
      </div>
      <div class="card-with-cover-content text-center">
        <div class="card-body">
          <h4 class="card-title">{{ universe.name }}</h4>
          <ul class="list-inline list-inline-pipe">
            <li>{{ universe.titles.count }} title{{ universe.titles.count|pluralize }}</li>
            <li>{{ universe.issue_count }} issue{{ universe.issue_count|pluralize }}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
{% endfor %}