{% extends "base.html" %}
{% load static %}

{% block title %}Parsers log{% endblock %}

{% block page_title %}Parsers log{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url "site-main" %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page"><a href="{% url "site-parser-log" %}">Parsers log</a></li>
{% endblock %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static "app-assets/vendors/css/tables/jsgrid/jsgrid.min.css" %}">
  <link rel="stylesheet" href="{% static "app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css" %}">
  <link rel="stylesheet" href="{% static "app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css" %}">
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/parser_log.css" %}">
{% endblock %}

{% block content %}
  <div id="grid-card" class="card" style="zoom: 1;">
    <div class="card-header">
      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
      <div class="heading-elements">
        <ul class="list-inline mb-0">
          <li>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#start-parser-modal">
              Start parser
            </button>
          </li>
          <li><a onclick="$('#grid').jsGrid('clearFilter');"><i class="ft-rotate-cw"></i></a></li>
          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="card-content">
      <div class="card-body card-dashboard">
        <div id="grid"></div>

      </div>
    </div>
    <div class="card-footer">
      <div id="pager"></div>
    </div>
  </div>
{% endblock %}

{% block modals %}
  <!-- Modal -->
  <div class="modal fade" id="start-parser-modal" tabindex="-1" role="dialog" aria-labelledby="start-parser-modal-title"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Start parser</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="parser-code">Parser</label>
            <select class="form-control" name="parser-code" id="parser-code">
              <option></option>
              {% for parser_choice in parser_choices %}
                {% if parser_choice.0 != 'BASE' %}
                  <option value="{{ parser_choice.0 }}">{{ parser_choice.1 }}</option>
                {% endif %}
              {% endfor %}
              <option value="FULL_MARVEL_API_MERGE">Full Marvel API Merge</option>
            </select>
          </div>
          <div class="form-group parser-run-form-group parser-run-form-group-CLOUD_FILES" style="display: none">
            <label for="cloud-path-root">Root directory</label>
            <input type="text" class="form-control parser-run-input" name="cloud-path-root" id="cloud-path-root"
                   aria-describedby="cloud-path-root-help" placeholder="Root directory to parse">
          </div>
          <div class="form-check parser-run-form-group parser-run-form-group-CLOUD_FILES" style="display: none">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input parser-run-input" name="cloud-full" id="cloud-full"
                     value="true">
              Full
            </label>
          </div>
          <div class="form-check parser-run-form-group parser-run-form-group-CLOUD_FILES" style="display: none">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input parser-run-input" name="cloud-load-cover"
                     id="cloud-load-cover"
                     value="true">
              Load covers
            </label>
          </div>
          <div class="form-check parser-run-form-group parser-run-form-group-MARVEL_API" style="display: none">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input parser-run-input" name="marvel-api-incremental"
                     id="marvel-api-incremental"
                     value="true">
              Incremental
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="start-parser-btn">Start</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block vendor_js %}
  <script src="{% static "app-assets/vendors/js/tables/jsgrid/jsgrid.min.js" %}" type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/pagination/jquery.twbsPagination.min.js" %}"
          type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" %}"
          type="text/javascript"></script>
  <script src="{% static "app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js" %}"
          type="text/javascript"></script>
{% endblock %}

{% block page_js %}
  <script src="{% static "js/jsgrid_utils.js" %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static "comics_db/js/parser_log.js" %}"></script>
{% endblock %}