{% extends "base.html" %}
{% load static %}

{% block meta %}<meta name="yandex-verification" content="6e61166ecc9e9a0d" />
{% endblock %}

{% block page_title %}
  Welcome to yet another one comics DB<br>
  <span class="teal"><small><em>We are not even trying...</em></small></span>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
  {% include "comics_db/elements/read_progress_bar.html" %}
  <!-- STATISTICS -->
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-gradient-directional-success card-link">
        <div class="card-content">
          <a class='default-link' href='{% url "site-publisher-list" %}'></a>
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-building white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ publishers_count }}</h3>
                <span>Publisher{{ publishers_count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-gradient-directional-warning card-link">
        <div class="card-content">
          <a class='default-link' href='{% url "site-universe-list" %}'></a>
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-globe-asia white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ universes_count }}</h3>
                <span>Universe{{ universe_count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-gradient-directional-primary card-link">
        <div class="card-content">
          <a class='default-link' href='{% url 'site-title-list' %}'></a>
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-books white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ titles_count }}</h3>
                <span>Title{{ titles_count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-gradient-directional-danger card-link">
        <div class="card-content">
          <a class='default-link' href='{% url 'site-issue-list' %}'></a>
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-book-open white float-left fa-3x"></i>
              </div>
              <div class="media-body white text-right">
                <h3>{{ issues_count }}</h3>
                <span>Issue{{ issues_count|pluralize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /STATISTICS -->

{% endblock %}