{% if user.is_authenticated %}
  <!-- Read progress -->
  <h4>Read progress</h4>
  <div class="progress read-progress position-relative">
    <div class="progress-bar bg-success text-dark" role="progressbar" style="width: {{ read_total_ratio }}%;"
         aria-valuenow="{{ read }}"
         aria-valuemin="0"
         aria-valuemax="{{ total }}">
    </div>
  <small class="justify-content-center d-flex position-absolute w-100">{{ read }}/{{ total }}</small>
  </div>
  <!-- /Read progress -->
{% endif %}