{% extends "base.html" %}
{% load static %}

{% block title %}Creators{% endblock %}

{% block page_title %}Creators{% endblock %}

{% block vendor_css %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "comics_db/css/card-list.css" %}">
{% endblock %}

{% block content %}
  {% include "comics_db/elements/search_form.html" with show_hide_read=False placeholder="Search for creator..." %}
  <div class="row">
    {% include "comics_db/creator/list_block.html" %}
  </div>
{% endblock %}

{% block vendor_js %}
  <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
  <script src="{% static "app-assets/js/scripts/forms/custom-file-input.js" %}"></script>
{% endblock %}

{% block page_js %}

  <script>
    $.endlessPaginate({
      paginateOnScroll : true,
    });
    {% if form.errors %}
      $('#title-modal').modal('show');
    {% endif %}
  </script>
{% endblock %}